<!DOCTYPE html>
<html style="font-family: system-ui; font-size: 15px" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World!</title>
    <link rel="stylesheet" href="../lib/css/mdb.rtl.min.css"/>
    <link rel="stylesheet" href="../lib/css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
</head>

<body class="bg-transparent" style="overflow: visible; width: 26.6rem">
<div style="border: 0.75rem solid rgba(17, 140, 255, 0.247); border-radius: 5%;">
    <div class="card main-panel">
        <div class="card-header titlebar d-flex justify-content-between">
            <div>
                <span style="color: white;">CONTA</span><span style="color:rgb(0, 132, 255);">NET</span>
                <div style="color:white; font-size: 0.75rem; display: flex;">
                    CONTA PERU S.C.R.L
                </div>
            </div>
            <div class="d-flex align-items-center"><img src="../assets/contaperu.png" style="width:1.5rem;" alt=""/></div>
        </div>
        <div class="card-body form-group">
            <div class="form-outline">
                <input class="form-control" type="text" id="usuario" name="usuario"/>
                <label class="form-label" for="usuario">Usuario</label>
            </div>
            <div class="form-outline mt-4">
                <input class="form-control" type="password" id="password" name="password"/>
                <label class="form-label" for="password">Contraseña</label>
            </div>
            <div class="input-group mt-4 w-100 d-flex justify-content-center" style="gap:2rem;">
                <button id="btnIniciar" class="btn btn-primary">
                    INICIAR
                </button>
                <button id="btnCancelar" class="btn btn-primary">
                    CANCELAR
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../lib/js/mdb.min.js" type="text/javascript"></script>
<script src="../js/login.js"></script>
<script>
    document.querySelector(".titlebar").style.webkitAppRegion = "drag";
</script>

</html>